{% extends 'base.html' %}

{% block content %}
  {% comment %} {{ block.super }} {% endcomment %}
  <h1 class="container text-center">This is App Home</h1>
  {% for i in data %}
    <div class="card" style="width: 18rem;">
      <img src="{{ i.strMealThumb }}" class="card-img-top" alt="{{ i.strMeal }}" />
      <div class="card-body">
        <h5 class="card-title">{{ i.strMeal }}</h5>
        <button class="btn btn-primary">Details</button>
      </div>
    </div>
  {% endfor %}
{% endblock %}
